.bg-image {
    background-image: url("assets/images/fondoNumeros.jpg");
}

.align-text-center {
    text-align: center;
}

.mg-bottom-3 {
    margin-bottom: 3%;
}

.mg-bottom-1 {
    margin-bottom: 1%;
}

.bg-color {
    background-color: #87cefa;
}

.font-ranchers {
    font-family: 'Ranchers', cursive;
    font: 'Ranchers';
}

.font-ranchers-blue {
    font-family: 'Ranchers', cursive;
    font: 'Ranchers';
    color: blue;
}

.redondeado {
    border-radius: 7px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}